<section class='bg-white dark:bg-gray-900 py-8 lg:py-16 antialiased'>
  <div class='max-w-2xl mx-auto px-4'>
    <div class='flex justify-between items-center mb-6'>
      <h2
        class='text-lg lg:text-2xl font-bold text-gray-900 dark:text-white'
      >Topic {{Topic}}</h2>
    </div>
    <form class='mb-6 relative top-0 right-0'>
      <div
        class='py-2 px-4 mb-4 bg-white rounded-lg rounded-t-lg border border-gray-200 dark:bg-gray-800 dark:border-gray-700'
      >
        <label for='post' class='sr-only'>Your Post</label>
        <textarea
          id='post'
          rows='6'
          class='px-0 w-full text-sm text-gray-900 border-0 focus:ring-0 focus:outline-none dark:text-white dark:placeholder-gray-400 dark:bg-gray-800'
          placeholder='Your text here'
          required
        ></textarea>
      </div>
      <button
        type='submit'
        class='inline-flex items-center py-2.5 px-4 text-xs font-medium text-center text-white bg-primary-700 rounded-lg focus:ring-4 focus:ring-primary-200 dark:focus:ring-primary-900 hover:bg-primary-800 border-2 border-white-500'
      >
        Submit
      </button>
    </form>
  </div>
</section>
<section>
  {{#each posts as |post|}}

    <article
      class='outline-white p-6 text-base bg-white rounded-lg dark:bg-gray-900 border-2 border-white-500 my-px-6 space-y-10'
    >
      <footer class='flex justify-between items-center mb-2'>
        <div class='flex items-center border-white'>
          <p
            class='inline-flex items-center mr-3 text-sm text-gray-900 dark:text-white font-semibold'
          ><img
              class='mr-2 w-6 h-6 rounded-full'
              {{!
                        src="https://flowbite.com/docs/images/people/profile-picture-2.jpg" }}
              alt='{{name}}'
            />{{user.name}}
          </p>
          <p class='text-sm text-gray-600 dark:text-gray-400'><time
              pubdate
              datetime='{{post.date_created}}'
              title='{{formatDate post.date_created}}'
            >Post date {{formatDate post.date_created}}</time>
          </p>
        </div>
      </footer>
      <p class='text-gray-500 dark:text-gray-400'>{{post.description}}.</p>
      <div class='flex items-center mt-4 space-x-4'>
        <button
          class='reply-btn'
          type='button'
          class='flex items-center text-sm text-gray-500 hover:underline dark:text-gray-400 font-medium'
        >
          <svg
            class='mr-1.5 w-3.5 h-3.5'
            aria-hidden='true'
            xmlns='http://www.w3.org/2000/svg'
            fill='none'
            viewBox='0 0 20 18'
          >
            <path
              stroke='currentColor'
              stroke-linecap='round'
              stroke-linejoin='round'
              stroke-width='2'
              d='M5 5h5M5 8h2m6-3h2m-5 3h6m2-7H2a1 1 0 0 0-1 1v9a1 1 0 0 0 1 1h3v5l5-5h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1Z'
            />
          </svg>
          Reply
        </button>
      </div>
    </article>
    {{#each comment as |comment|}}

      <form id='reply' class='mb-6 relative top-0 right-0'>
        <div
          class='py-2 px-4 mb-4 bg-white rounded-lg rounded-t-lg border border-gray-200 dark:bg-gray-800 dark:border-gray-700'
        >
          <label for='reply' class='sr-only'>Your reply</label>
          <textarea
            id='reply'
            rows='6'
            class='px-0 w-full text-sm text-gray-900 border-0 focus:ring-0 focus:outline-none dark:text-white dark:placeholder-gray-400 dark:bg-gray-800'
            placeholder='Share your knowledge with the post owner!...'
            required
          ></textarea>
        </div>
        <button
          type='submit'
          class='inline-flex items-center py-2.5 px-4 text-xs font-medium text-center text-white bg-primary-700 rounded-lg focus:ring-4 focus:ring-primary-200 dark:focus:ring-primary-900 hover:bg-primary-800 border-2 border-white-500'
        >
          Share your knowledge!
        </button>
      </form>

      <article
        id='comment'
        class='p-6 mb-3 ml-6 lg:ml-12 text-base bg-white rounded-lg dark:bg-gray-900'
      >
        <footer class='flex justify-between items-center mb-2'>
          <div class='flex items-center'>
            <p
              class='inline-flex items-center mr-3 text-sm text-gray-900 dark:text-white font-semibold'
            >
              <img
                class='mr-2 w-6 h-6 rounded-full'
                {{!
                        src="https://flowbite.com/docs/images/people/profile-picture-5.jpg" }}
                alt='{{user.name}}'
              />{{user.name}}
            </p>
            <p class='text-sm text-gray-600 dark:text-gray-400'><time
                pubdate
                {{comment comment.date_created}}
                title
              >{{commnet comment.date_created}}</time>
            </p>
          </div>
        </footer>
        <p class='text-gray-500 dark:text-gray-400'>{{comment}}</p>
        <div class='flex items-center mt-4 space-x-4'>
        </div>
      </article>
    {{/each}}
  {{/each}}
</section>

{{!
<script src="./js/logout.js"></script> }}
<script src='/js/newPost.js'></script>
<script src="'/js/newComment.js"></script>